<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.13.0307" targetFramework="portable-net403+sl50+win+wpa81+wp80" />
  <package id="MicroPos.CrossPlatform" version="1.1.0" targetFramework="portable-net403+sl50+win+wpa81+wp80" />
  <package id="MSBuild.ILMerge.Task" version="1.0.2" targetFramework="portable-net403+sl50+win+wpa81+wp80" />
</packages>