<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MicroPos.CrossPlatform" publicKeyToken="b64391aecf921c4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pinpad.Sdk" publicKeyToken="cbdc063925c03358" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pinpad.Sdk.Model" publicKeyToken="d3ab5135d4a3f3fd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>